header{
	background: black;
}
#series{
	background-color: #067515;

}
.back{
	background-color: #006400;
}
.back2{
	background-color: #00FF00;
}
.trivial{
	width: 30%;
}
.trivialp{
	width: 20%;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav{
	position: absolute;
	top: 110px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
nav a:hover{
	color: #00FF00;
	text-decoration: underline;
}
main{

	width: 940px;
	margin: 0 auto;

}
form{
  margin: 40px 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
	
}
.input-padrao{
	display: block;
	margin: 0 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
.checkbox{
	margin: 20px 0;
}
.enviar{
	width: 40%;
	padding: 15px 0;
	background: red;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;

}
.enviar:hover {
	background: darkgreen;
	transform: scale(1.2);
}
table{
	margin: 20px 0 40px;
}
thead{
	background: #555555;
	color: white;
	font-weight: bold;
}
td, th{
	border: 1px solid #000000;
	padding: 8px 15px;
}
footer{
	text-align: center;
	background-color: #000000;
	margin: 20px 0 0;
}
.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0 ;
}
.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;	 

}
.produtos li:hover{
	border-color: #00FF00;
}
.produtos li:aactive{
	border-color: #088C19;
}
.produtos li:hover h2{
	font-size: 34px;
}


#banner {
	width: 100%;
	height: 100px;
	background-color: #00FF00;
	color: #000000;
	text-align: center;
	line-height: 100px;
	position: relative;
	overflow: hidden;
	font-size: 40px;
}

#mensagem {
	position: absolute;
	left: -200px; /* Inicialmente, a mensagem está fora da tela à esquerda */
	white-space: nowrap;
}


/* Estilos para o contêiner das imagens */
.image-container {
  display: flex; /* Use flexbox para alinhar as imagens lado a lado */
  justify-content: center; /* Centralize horizontalmente */
}

/* Estilos para cada imagem */
.image-container img {
  width: 300px; /* Defina a largura desejada para as imagens */
  margin-right: 20px; /* Adicione um espaço entre as imagens (opcional) */
  margin-top: 20px; /* adiciona espaco entre o paragrafo de cima*/
}
/* Estilos para o contêiner da animação */
.animation-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

/* Estilos para a imagem que será animada */
#animated-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
.filmes{
	
	margin-left: 90px;
}